.styling{
    text-decoration: none;
    color:black;
    text-align: left;
    padding:0px;
    margin:0px;
    width:fit-content
}
.navbar-brand {
    width:fit-content;
}

.navbar-header{
    width:fit-content;
}

.decor{
    text-decoration: none;
}